@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400&family=Poppins:wght@300;400;500;600;700&display=swap');

@import './base/variables.css';
@import './base/reset.css';
@import './base/animations.css';

@import './layout/containers.css';

@import './components/title.css';
@import './components/auth.css';
@import './components/buttons.css';
@import './components/logger.css';
@import './components/modal.css';

@import './pages/home.css';
@import './pages/quiz.css';
@import './pages/ranking.css';

@import './loading.css';
@import './base/responsive.css';

